<!doctype html>
<html lang="en-EN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">

<!-- Site meta -->
  <title>Page_Title</title>
  <meta name="description" content="Page_description">
  
<!-- CSS -->
  <link rel="stylesheet" href="/assets/css/pico.css">
  <style>.header-placeholder{ min-height: 160px;} .footer-placeholder{ min-height: 160px;} .logo{ aspect-ratio: 200 / 60; width: 200px;} </style>
  <link rel="stylesheet" href="/assets/css/style.css">
<!-- Site Icons -->  
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">
<!-- Javascript -->
  <script src="/assets/js/htmx.min.js"></script>
  <script src="/assets/js/htmx-json.min.js"></script>
  <script src="/assets/js/main.js"></script>
</head>

<body hx-ext="json-swap" hx-get="/data/sitedata.json" hx-trigger="load" hx-swap="json">
  <header hx-get="/components/header.html" hx-trigger="load" hx-swap="innerHTML" class="container"></header>

  <main class="container">
    <article id="intro">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dicta debitis rem accusantium explicabo, fugiat dolore sapiente expedita! Quidem repellendus placeat voluptatem sint corporis autem nihil sed. Nulla, accusamus explicabo!
    </article>

    <h2>Latest Posts</h2>
    list of the latest posts from the feed.

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur repellat veniam asperiores odio consequuntur sapiente ipsam cupiditate tempora unde, eveniet atque alias libero deleniti voluptatibus, voluptatem mollitia itaque fuga laborum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reiciendis explicabo eum rerum nulla distinctio eligendi ex, quasi, dolorem rem dolorum? Ratione exercitationem debitis porro velit quo maxime cum voluptatum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quaerat repellat! Totam voluptatem repellendus, at delectus debitis corrupti voluptatum laborum, dolorum ipsam voluptates quia itaque minima praesentium! Sint, voluptatibus nobis.</p>

  </main>
  
  <footer hx-get="/components/footer.html" hx-trigger="load" hx-swap="outerHTML" id="footer-placeholder" class="footer-placeholder"></footer>
</body>

</html>
