<!doctype html>
<html lang="en-EN" data-theme="dark">
<head>
<meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta name="color-scheme" content="light dark" />

<!-- Site meta -->
    <title>My Personal Website</title>
    <meta name="description" content="This is my personal website, take a look around!" />

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/pico.css" /><link rel="stylesheet" href="/assets/css/style.css" />
<!-- Site Icons -->
<link rel="icon" href="/favicon.png" sizes="any" />
<!-- Javascript -->
<script src="/assets/js/htmx.min.js"></script><script src="/assets/js/htmx-json.min.js"></script><script src="/assets/js/marked.min.js"></script><script type="module" src="/assets/js/md-block.js"></script>
</head>

<body hx-ext="json-swap" hx-get="/data/sitedata.json" hx-trigger="load" hx-swap="json">
<a href="#main" class="skip-to-content">Skip to content</a>
<header hx-get="/components/header.html" hx-trigger="load" hx-swap="innerHTML" class="container" id="header" ></header>
    
<main class="container fade-in" id="main">

    <article id="intro">
        <md-block>
            ### 👋 Hello!
            
            Wellcome to my personal website!
        </md-block>
    </article>

    <h3 id="home__list-title">Latest Content</h3>

    <div id="content-list">
        <span aria-busy="true">Loading...</span>
    </div>
        
    <!-- Container per la paginazione -->
    <div id="content-pagination"></div>
    
</main>
<footer hx-get="/components/footer.html" hx-trigger="load" hx-swap="outerHTML" id="footer" ></footer>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/content-list.js"></script>

</body>
</html>
